{block title}{_'Role permissions'}{/block}
{block content}
    {embed ../../../Core/Widget/@content.latte}
        {block content}
            {control authorization}
        {/block}
    {/embed}
{/block}
